.btn {
  display: inline-block;
  padding: 10px 16px;
  background: var(--pink);
  color: #fff;
  font-weight: 700;
  margin-top: 18px;
}

.promo .promo-btn,
.add{
  display: inline-block;
  padding: 8px 12px;
  background: var(--pink);
  color: #fff;
  font-weight: 700;
  margin-top: 12px;
}

.btn:hover {
  background: #d12d77;
}

