
.site-footer{
  margin-top: 80px;
}

.footer-container {
  width: 1300px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.footer-top {
  background: #504E4A;
  padding: 60px 0;
  position: relative;
  color: #fff;
  overflow: hidden;
}

.footer-bg {
  position: absolute;
  inset: 0;
  background: url('/src/assets/images/footer-wave.svg') center/cover no-repeat;
  pointer-events: none;
}

.footer-title {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 25px;
  position: relative;
  z-index: 2;
}

.footer-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 22px;
  position: relative;
  z-index: 2;
  width: 100%;
}

.footer-item {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 300px; 
}

.footer-item img {
  width: 48px;
  height: auto;
  display: block;
}

.footer-item p {
  margin: 0;
  font-size: 15px;
  line-height: 1.7;
  color: rgba(255,255,255,0.95);
}

.footer-middle {
  background: #fff;
  padding: 60px 0;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  align-items: flex-start;
  box-sizing: border-box;
}

.footer-left {
  width: 639px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-links-row {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.col h4,
.footer-contact h4 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.col a {
  display: block;
  text-decoration: none;
  color: #333;
  font-size: 15px;
  margin-bottom: 8px;
}

.footer-wide-text h4 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.footer-wide-text p {
  margin: 0;
  font-size: 15px;
  line-height: 1.7;
  color: #444;
}

.footer-contact {
  width: 373px;
  box-sizing: border-box;
}

.footer-contact p {
  margin: 0 0 12px 0;
  font-size: 15px;
  color: #444;
  line-height: 1.7;
}

.contact-wrapper {
  display: flex;
  gap: 35px;
  margin-top: 8px;
}

.contact-column {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;  
  min-width: 0;    
}

.contact-column li {
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;    
  overflow: visible;    
  font-size: 15px;
  line-height: 2;
}

.contact-column li svg {
  flex-shrink: 0;       
  width: 24px;
  height: 24px;
  display: block;
}





.footer-bottom {
  background:  #fff;
  padding: 12px 0;
}

.footer-bottom .footer-container {
  padding: 0 20px;
}

.footer-bottom p {
  margin: 0;
  color: rgba(0, 0, 0, 0.35);
  font-family: Inter, sans-serif;
  font-size: 14px;
  text-align: center;
}

.footer-link:hover{
  color: var(--pink);
}
