.contact-info {
  max-width: 1200px;
  margin: 60px auto;
  text-align: center;
  display: flex; 
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;

  .contact-item {
    flex: 1; 
    text-align: center;
  max-width: 200px;
  margin: 0 auto;

    img {
      width: 48px;
      margin-bottom: 10px;
    }

    h4 {
      font-size: 18px;
      margin: 10px 0 6px;
      font-weight: 700;
    }

    p {
      font-size: 14px;
      color: #777;
      line-height: 1.5;
    }
  }
}

.icon-wrapper {
  background-color: #B92770;
  width: 60px;             
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 12px auto; 
}



.contact-form-section {
  max-width: 1200px;
  display: flex;
  gap: 50px;
  margin: 80px auto;

  .contact-image img {
    width: 100%;
    object-fit: cover;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 50px;
  }

  .contact-form {
    h3 {
      font-size: 22px;
      margin-bottom: 6px;
    }

    p {
      margin-bottom: 24px;
    }

    .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 18px;

      label {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 6px;
        position: relative;
        display: inline-block;
      }

      label::after {
        content: "*";
        margin-left: 4px;
        color: var(--pink);
        font-weight: 700;
      }

      input,
      textarea {
        border: 1px solid var(--pink);
        padding: 12px;
        font-size: 15px;
        transition: 0.2s;

        &:focus {
          outline: none;
          border-color: #ec4c84;
        }
      }

      textarea {
        min-height: 120px;
      }
    }

    .send-btn {
      width: 120px;
      background: #ec4c84;
      color: #fff;
      padding: 12px 20px;
      border: none;
      font-weight: 600;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        background: #d83a75;
      }
    }
  }
}