@import "./abstracts/variables";
@import "./abstracts/mixins";
@import "./base/fonts";
@import "./base/reset";
@import "./components/buttons";
@import "./components/forms";
@import "./components/product-card";
@import "./layouts/header";
@import "./layouts/footer";
@import "./pages/_home";
@import "./pages/_about";
@import "./pages/catalog";
@import "./pages/cart";
@import "./pages/product-details";
@import "./pages/contact";



body {
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
  font-weight: 400,700,900;
  background: #fafafa;
  color: #222;
  margin: 0;
}

section{
  width: 100%;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  margin: 0;
}


a {
  text-decoration: none;
  color: inherit;
}


.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}